{% extends 'base.html' %}

{% block content %}

<h2 class=" text-center py-4">Bienvenido a Tu Moneda Social</h2>
  <p class="text-center lead px-5">
  Si ya tienes una cuenta <br>
<a href="{% url 'login' %}"><button type="submit" value={} class="homeButton btn btn-primary py-3 my-1 mx-auto">Ingresa Aquí</button></a><br>
<br> 
Si eres un usuario nuevo  
<br>
<a href="{% url 'signup' %}"><button type="submit" value={} class="homeButton btn btn-primary py-3 my-1 mx-auto">Inscríbete</button></a>
<div class="py-5"></div>
<br>
<br>
  </p>
  <hr>
  <p class="mb-0 text-center" style="font-size:9px">Creado por <a href="https://www.linkedin.com/in/agustin-rodriguez-luna/">Agustín Rodríguez.</a><br></p>

{% endblock %}
