{% extends 'base.html' %}

{% block content %}
<br>
<h2 class="text-center"><strong>Bienvenido {{ user.first_name }}</strong></h2>
<h5 class="text-center">Ingresa a tu moneda</h5>
<br>
<div class="d-grid my-1 gap-2 text-center ">
    {% for coin in coin_list %} 
    {% if coin.is_valid is True %}
    <a href="{% url 'core:coin_list' coin.pk %}">
        <button type="submit" value={} class="homeButton btn btn-primary py-3 my-1 mx-auto">{{ coin.coin.name }}</button>
    </a>
    {% else %}
    <button type="submit" value={} class="homeButton btn btn-primary py-3 my-1 mx-auto">Tu solicitud para unirte a {{ coin.coin.name }}, se encuentra en evaluación</button>
    {% endif %}
    {% endfor %}

    {% if user.is_staff %} 
    <a href="{% url 'core:create_coin' user.pk %}">
        <button type="submit" value={} class="homeButton btn btn-primary py-3 my-1 mx-auto">Crear nueva moneda</button>
    </a>
    {% endif %}
<br>
<br>
<a href="{% url 'core:user_update' user.pk %}">Actualizar</a>
<br>
<br>
<a class="my-1 text-center" href="{% url 'logout' %}">log out</a>
<br>
<br>
</div>

{% endblock %}
