{% extends 'base.html' %}
{% block content %}
    <script>
    
        $(document).ready(function () {
            $('select').selectize({
                sortField: 'text',
            });
        });
    </script>

<div class="container pb-3">
    <h2><strong>Hola, {{ user.first_name }}!</strong></h2>
    <snap>{{actual_coin}} | Código #{{ coin_id }} | invitar a Participar</snap>
    <br>
    <br>
    {% load humanize %}
    <h3 class="saldo-actual">Saldo: <span class="numbers">{{ coin_balance|intcomma }}</span></h3>
    <br>
    <h3>Oferta:</h3><snap>{{ coin_offer }}</snap>
</div>

<div class="container bg-light">
  <h3>Transferir</h3>
  <form action="{% url 'core:detail_view' coin_balance_id %}" method="post" id="post-form" class="transaction-form">
    <div class="row ">
        {% csrf_token %}
        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <div class="col-sm">
            <select id="input_1" name="coin_user" placeholder="Selecciona un miembro">
                <option value=""></option>
                {% for coin_users in coin_participants %}
                <option value="{{coin_users.user.id}}">{{coin_users.user.first_name}} {{coin_users.user.last_name}}</option>
                {% endfor %}
              </select>
        </div>
        <div class="col-sm">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input id="input_2" name="coin_ammount" placeholder="Ingresa el monto a transferir" type="text" class="form-control" >
                <div class="input-group-append">
                </div>
              </div>
        </div>
        <div class="col-sm mb-3 d-grid gap-2 mx-auto"> 
            <input class="btn btn-primary" type="submit" role="button" value="Transferir" id="submit-transference"/>
            
        </div>
      </form>
    </div>
    <br>
    <p class="text-right align-baseline"><a href="{% url 'home' %}"> volver</a></p>
</div>
<br><br>
<!--
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Movimiento</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Historial</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Participantes</a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
  </div>
-->
{% endblock %}