{% extends 'base.html' %}
{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
    <script>
        $(document).ready(function () {
            $('select').selectize({
                sortField: 'text'
            });
        });
    </script>
<div class="container pb-3">
    <h2><strong>Hola, {{ user.first_name }}!</strong></h2>
    <snap>{{actual_coin}} | Código #{{ coin_id }} | invitar a Participar</snap>
    <br>
    <br>
    <h3>Saldo: {{ coin_balance }}</h3>
    <br>
    <h3>Oferta:</h3><snap>{{ coin_offer }}</snap>
</div>
<div class="container bg-light">
    <h3>Transferir</h3>
    <div class="row ">
        <div class="col">
            <select id="select-state" placeholder="Pick a state...">
                <option value="">Select a state...</option>
                {% for coin_users in coin_participants %}
                <option value="{{coin_users.user.id}}">{{coin_users.user.first_name}} {{coin_users.user.last_name}}</option>
                {% endfor %}
              </select>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                <div class="input-group-append">
                </div>
              </div>
        </div>
        <div class="col align mb-3"> 
            <a class="btn btn-primary" href="#" role="button">Transferir</a>
        </div>
    </div>
</div>
{% endblock %}