{% extends 'base.html' %}
{% block content %}
<div class="p-4">
<h3>{{ user.first_name }}, estás a punto de hacer una transferencia a {{ transaction_object.reciever.user.first_name }} {{ transaction_object.reciever.user.last_name }}</h3>

<div class="container py-5">
<p>Detalles:</p>
<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Envía</th>
        <th scope="col">Recibe</th>
        <th scope="col">Monto</th>
        <th scope="col text-right">Fecha</th>
      </tr>
    </thead>
    {% load humanize %}
    <tbody>
      <tr>
        <td scope="row">{{ transaction_object.sender.user.first_name }} {{ transaction_object.sender.user.last_name }}</td>
        <td>{{ transaction_object.reciever.user.first_name }} {{ transaction_object.reciever.user.last_name }}</td>
        <td>{{ transaction_object.ammount|intcomma }}</td>
        <td>{{ transaction_object.date }}</td>
      </tr>
    </tbody>
</table>
</div>
<div class="container">

  <h5 class="w-100 py-2 text-center">¿Quieres continuar con la transferencia?</h3>
  <table class="table">
    <tbody>
        <td>
          <input class="btn btn-primary btn-danger" type="submit" role="button" value="Cancelar" id="deny-transference"/>
        </td>
        <td>
          <input class="btn btn-primary btn-success" type="submit" role="button" value="Aceptar" id="confirm-transference"/>
        </td>
        
        </tr>
      </tr>
      <tr>
        <td>

        </td>
      </tr>
    </tbody>
  </table>
</div>
  <p class="text-right align-baseline"><a href="{% url 'core:coin_list' transaction_object.sender.pk %}"> volver</a></p>
</div>
{% endblock %}