{% extends 'base.html' %}
{% block content %}
<h2>{{ user.first_name }}, Tu transacción ha sido realizada con éxito</h2>
<br><br>
<p>Detalles:</p>
<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Envía</th>
        <th scope="col">Recibe</th>
        <th scope="col">Monto</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    {% load humanize %}
    <tbody>
      <tr>
        <td scope="row">{{ transaction_object.sender.user.first_name }} {{ transaction_object.sender.user.last_name }}</td>
        <td>{{ transaction_object.reciever.user.first_name }} {{ transaction_object.reciever.user.last_name }}</td>
        <td>{{ transaction_object.ammount|intcomma }}</td>
        <td>{{ transaction_object.date }}</td>
      </tr>
    </tbody>
  </table>
  <br><br><br>
  <p class="text-right align-baseline"><a href="{% url 'core:coin_list' transaction_object.sender.pk %}"> volver</a></p>
{% endblock %}